/*estos son los comandos del cuerpo*/
body{
  background-color: rgb(0, 0, 0);
}

/*estos son los comandos de los titulos y sub-titulo*/
.h1{
    color: rgb(255, 250, 250);
    text-align: center;
    width: 1525px;
    background-color: rgb(7, 7, 7);
}

.h{
  color: rgb(253, 251, 251);
}

.hh{
  color: rgb(250, 248, 248);
  margin-left: 32px;
  padding: 20px;
  }

.h2{
  color: rgb(252, 249, 249);
  margin-left: 300px;
}

.hh2{
  color: rgb(246, 240, 240);
  margin-left: 350px;
}

.hhh2{
  text-align: center;
color: aliceblue;
}

.hh3{
  color: rgb(253, 249, 249);
  text-align: center;
  border: 4px double;
  width: 300px;
  margin-left: 600px;
}

.h3{
  color: rgb(253, 250, 250);
  margin-left: 500px;
}

/*estos son los comandos de la barra de navegacion*/
  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(6, 6, 6);
   margin: 0 auto;
    width: 1100px;
  }
  
  li {
    float: left;
  }
  
  link,.a {
    display: block;
    color: rgb(239, 235, 235);
    text-align: center;
    padding: 10px ;
    text-decoration: none;
    width: 330px;
    border: double;
    color: rgb(244, 238, 238);
    margin-left: 10px;
  }

  li a:hover {
    background-color: #ac0bf1;
  }

/*estos son los comandos de los div*/
  .div{
    color: #f8f6f6;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(12, 12, 12);
    width: 700px;
    padding: 10px;
  }

  .div2{
    width: 1500px;
    background-color: #000000;
  height: 500px;
  text-align: center;
  }

  .div4{
    text-align: center;
    margin-left: 70px;
    width: 500px;
   background-color: rgb(11, 11, 11);
   height: 600px;
  }

  .div5{
text-align: right;
margin-top: -625px;
margin-right: 550px;
  }
/*estos son los comandos de img*/
  .img{
    border-radius: 60%;
    width: 300px;
  margin: 0 auto;
  }

.img3{
  width: 400px;
  border-radius: 20px;
  margin-left: 190px;
  border: 5px double aliceblue;
}

.immg3{
  width: 500px;
  border-radius: 20px;
  margin-left: 190px;
  border: 5px double aliceblue;
}

.img2{
  width: 100px;
  margin-left: 30px;
}

.img6{
  text-align: left;
}

/*estos son los comandos del formulario*/
.label{
  color: #090909;
  padding: 10px;
  width: 400px;
  border-radius: 30px;
}

/*estos son los comandos del pie de pagina*/
.footer{
  text-align: center;
  background-color: #000000;
  padding: 110px;
}

.p{
  color: rgb(248, 245, 245);
  margin: 0 auto;
}

/*estos son los comandos de las tablas*/

.table{
  text-align: center;
  font-family: 'Times New Roman',;
}

.table2{
  background-color: #060606;
  margin-left: 980px;
  margin-top: -570px;
  width: 520px;
}